// bower:scss
// endbower


.body {
    font-family: Helvetica;
    font-size: 13px;
    margin: 0;
    padding: 0;
   
}

.container {
    position: relative;
    height: 100%;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.wrapper{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:block;
    font-family:helvetica;
}


.columns{
    margin-left: -10px;
    margin-right: -10px;
    display:block;
}


.column-one{
    float:left;
    padding-left:10px;
    padding-right:10px;
    width:25%;
    background:rgba (65,131,196,0.4);
    display:block;
    position:absolute;
}

.username{
    margin-top: 10px;
    margin-bottom: 10px;
    display:block;
    overflow:hidden;
    width:100%;
    font-size:20px;
    font-style:normal;
    font-weight:300;
    line-height: 24px;
    color:#666;
    text-overflow:ellipsis;
}

.datejoined {
    margin-bottom: 10px;
    width:100%;
    padding: 15px 0 10px 0px;
    overflow-x: hidden;
    font-size:14px;
    border-top:1px solid #eee;
    text-overflow: ellipsis;
}

.stats {
    margin-bottom: 10px;
    padding-top:40px;
    padding-bottom:40px;
    text-align:center;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    display:block;
}

.stats-stat{
    text-decoration: none;
    text-align: center;
    float:left;
    width:33.333%;
    font-size:11px;
    color:#999;
    text-transform:capitalize;
    display:block;

}

.stats-stat-count{
    text-decoration: none;
    display:block;
    font-size:28px;
    font-weight: bold;
    line-height: 1px;
    color:#222;
    padding-bottom:7px;
}

.column-two{
    margin-top: 10px;
    margin-right:10px;
    margin-left: 275px;
    margin-bottom: 100%;
    padding:100px;
    display:block;
    height: 1000px;
    width: 1000px; 
    position:relative;
    box-sizing:border-box;

}
/*.repo-list{
    margin-top: 100px;
    margin-right:10px;
    margin-left: 275px;
    margin-bottom: 100
    height:500px;
    width:500px; 
    position:relative;
    box-sizing:border-box;
}*/
.get-names1{
    font-size: 20px;
    color:#4183c4;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    display: block;
    font-weight: bold;
    border-top:1px solid #eee;
}

.get-description{
    color:#333333;
    text-decoration:none;
    margin: 0 0 5px;
    font-size:14px;

}

.update{
    margin:0;
    font-size:11px;
    color:#999999;
}


.rep-template{
    position:relative;
    padding-left:45px;
    padding-bottom:20px;
    margin:0 0 20px;
    list-style:none;
    border-bottom:1 px solid #eee;

}

.repo-list{
    float: right;
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #666;
    position: relative;
    top: 9px;
    width: 150px;

}


.get-stars1{
    float: right;
    padding-right:10px;
  
    
}
.get-forks1{
    float: right;
 

}

.get-language{
    float: right;
    padding-right: 10px;
}

