// bower:scss
// endbower



.wrapper{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:block;
    font-family:helvetica;
}

.container{
    width:980px;
    margin-right:auto;
    margin-left:auto;
}

.columns{
    margin-left: -10px;
    margin-right: -10px;
    display:block;
}


.column-one{
    float:left;
    padding-left: 10px;
    padding-right:10px;
    width:25%;
    background:rgba (65,131,196,0.4);
}

.username{
    margin-top: 10px;
    margin-bottom: 10px;
    display:block;
    overflow:hidden;
    width:100%;
    font-size:20px;
    font-style:normal;
    font-weight:300;
    line-height: 24px;
    color:#666;
    text-overflow:ellipsis;
}

.datejoined {
    margin-bottom: 10px;
    width:100%;
    padding: 15px 0 10px 0px;
    overflow-x: hidden;
    font-size:14px;
    border-top:1px solid #eee;
    text-overflow: ellipsis;
}

.stats {
    margin-bottom: 10px;
    padding-top:40px;
    padding-bottom:40px;
    text-align:center;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    display:block;
}

.stats-stat{
    text-decoration: none;
    text-align: center;
    float:left;
    width:33.333%;
    font-size:11px;
    color:#999;
    text-transform:capitalize;
    display:block;

}

.stats-stat-count{
    text-decoration: none;
    display:block;
    font-size:28px;
    font-weight: bold;
    line-height: 1px;
    color:#222;
    padding-bottom:7px;
}

.column-two{
    float:right;
    padding-left:10px;
    padding-right:70px;
    width: 75%;
    font-size:15px;

}

.repo-tag{
    padding:10px;
}

.names{
    font-size:20px;
    line-height:32px;
    margin-top:0;
    margin-bottom:0;
    white-space:nowrap;

}

.stars{
    position:relative;
    min-height:66px;
    padding-left:45px;
    padding-bottom:20px;
    margin:0 0 20px;
    list-style:none;
    border-bottom:1px solid #eee;
}

.forks{
     position:relative;
    min-height:66px;
    padding-left:45px;
    padding-bottom:20px;
    margin:0 0 20px;
    list-style:none;
    border-bottom:1px solid #eee;
}

